# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Virtual Environment
venv/
.venv/
ENV/
env/
*/env/
*/venv/

# dotenv
.env
.env.*

.DS_Store
local_database.db

admin_actions.log
logs/worker_run.log
*.bak
cookies.txt
flask_session/
instance/
*.sqlite3
*.db
instance/

# Ignore local artifacts
/dev.db
dev.db
/flask_session/
flask_session/
/instance/
instance/
.venv
venv/
__pycache__/
*.pyc
