# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
ENV/
env/
*/env/
*/venv/

# dotenv
.env
.DS_Store
local_database.db

admin_actions.log
logs/worker_run.log
*.bak
